body {
  margin: 0;
}

.block {
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.block-status {
  padding-top: 16px;
  padding-bottom: 16px;
}

.query {
  width: 600px;
  height: 150px;
  font-family: monospace;
  display: block;
}

.submit {
  margin-top: 16px;
  display: block;
}

.block-status_success {
  /* same as styles of status-bar */
  background-color: rgb(144, 238, 144); /* fallback */
  background-color: rgba(144, 238, 144, 0.95);
}

.block-status_failure {
  /* same as styles of status-bar */
  background-color: rgb(238, 144, 144); /* fallback */
  background-color: rgba(238, 144, 144, 0.95);
}

.tableDataWrapper {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  
  height: 300px;
}

.tableDataWrapper .table {
  margin-top: 0;
}

.tableHeaderWrapper {
  overflow-x: hidden;
  white-space: nowrap;
}

.tableHeaderWrapper .table {
  margin-top: 0;
}

.table.table_header .field-text {
  font-weight: bold;
}

.table.table_header .row.even-odd-gray {
  background-color: #d2d2d2;
}