.table {
  width: 100%;
}

.table div.column-application {
  width: 20%;
}

.table div.column-details {
  width: 80%;
}

.table .row .column-details img {
  width: 24px;
  height: 24px;
}

.table .row .column-details .button-details {
  width: 24px;
  height: 24px;
  
  display: block;
  padding-bottom: 8px;
}

.table-details .column-label {
  width: 200px;
  text-align: right;
}

.table-details .column-field {
  width: 300px;
}

.table-details .column-ajp-port, .table-details .column-http-port {
  width: 75px;
}

.table-details .column-ajp-port-label .cell__padding, .table-details .column-http-port-label .cell__padding {
  padding-right: 0px;
}

.table-details .column-field.field-link {
  width: 600px;
}

.table-details .cell .hint {
  width: 20px;
  height: 20px;
  
  padding-top: 8px;
  padding-bottom: 2px;
  margin-bottom: 2px;
  
  display: block;
}