.text-content-wrapper {
  position: absolute;
  
  top: 45px; /* equals height of the page header */
  bottom: 77px; /* equals height of the control buttons bar plus 2 * text-content border */
  
  width: 100%;
  
  padding-left: 12px; /* equals control-buttons padding minus text-content border */
  padding-right: 14px; /* equals control-buttons padding */
  padding-top: 12px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.text-content {
  width: 100%;
  height: 100%;
  
  border: 2px solid;
  border-color: white; /* TODO must be not white but same as background color, but not transparent */
}

.text-content.modified {
  border-color: #fb8f40;
}

textarea.text-content {
  padding: 0;
  margin: 0;
  resize: none;
}


