.table {
  width: 100%;
}

.table div.cell.column-name {
  width: 35%;
}

.table div.cell.column-lastmod {
  width: 25%;
}

.table div.cell.column-size {
  width: 10%;
}

.table div.cell.column-size .b_large-file {
  color: #CC0000
}

.table div.cell.column-download {
  width: 10%;
}

.table div.cell.column-open {
  width: 10%;
}

.table .cell .hint {
  width: 1em;
  height: 1em;
  margin-bottom: -0.2em;
  margin-left: 0.3em;
  
  display: inline-block;
}

.table div.cell.column-monitor {
  width: 10%;
}

/* left margin for the leftmost column */
.table .column-left {
  margin-left: 44px;
}

