#connections {
  margin-top: 15px;
  display: table;
}

#connections div.row {
  display: table-row;
}

#connections div.cell {
  display: table-cell;
  
  position: relative;
  height: 32px;
  
  padding-top: 8px;
  padding-bottom: 4px;
}

#connections .flexColumns div.cell > *, #connections .strike {
  width: 100%;
}

#connections div.cell > .deletable, #connections div.cell > .strike {
  position: absolute;
  top: 0;
  left: 0;
}

#connections .flexColumns {
  overflow: hidden;
} 

#connections div.cell.column-active {
  width: 36px;
  float: left;
}
#connections div.cell.column-delete {
  width: 36px;
  float: right;
}

#connections .cell-pad-left {
  width: 6px;
  height: 6px;
  float: left;
}
#connections .cell-pad-right {
  width: 6px;
  height: 6px;
  float: right;
}
#connections .cell-pad-mid {
  overflow: hidden;
}

#connections .cell-pad-mid > * {
  width: 100%;
}

#connections div.cell.column-name {
  width: 20%;
  display: inline-block;
}
#connections div.cell.column-server {
  width: 25%;
  display: inline-block;
}
#connections div.cell.column-db {
  width: 20%;
  display: inline-block;
}
#connections div.cell.column-user {
  width: 15%;
  display: inline-block;
}
#connections div.cell.column-password {
  width: 20%;
  display: inline-block;
}

#connections .header label {
  background-color: transparent;
  
  font-family: monospace;
  font-size: 15.7px;
  color: black;
  
  padding-left: 6px;
}

#connections .header div.cell {
  height: 20px;
}

#connections .checkbox {
  border-width: 0 0 0 0;
  border-bottom: 2px solid;
  border-color: transparent;

  width: 24px;
  height: 24px;
  
  padding-top: 0;
  padding-bottom: 2px;
}


/* elements that go opaque when inactive */
#connections .row.inactive input.inactivatible {
  color: #888;
}

#connections .row.even-odd-gray {
  background-color: #fafafa;
}


#connections div.strike {
  display: none;
  
  border-bottom: 2px solid;
  height: 19px;
  
  padding-left: 0px !important;
  padding-right: 0px !important;
}


#connections input.field-text.modified, #connections .modified {
  border-color: #fb8f40;
}

#connections input.field-text.modified:focus {
  border-color: #0089bd;
}

#connections .checkbox-disabled.modified {
  border-color: transparent !important; /* overrides .modified */
}

#connections input.field-text:disabled {
  border-color: transparent;
}

#connections div.strike {
  border-color: #fb8f40;
}
#connections .row.created.deleted {
  display: none;
}

#connections .row.deleted div.strike {
  display: block;
}

#connections .row.deleted .deletable {
  pointer-events: none;
  opacity: 0.3;
}


#connections .row .column-delete input {
  width: 24px;
  height: 24px;
}


#connections .row .column-delete .button-delete {
  display: block;
}
#connections .row .column-delete .button-undelete {
  display: none;
}
#connections .row.deleted .column-delete .button-delete {
  display: none;
}
#connections .row.deleted .column-delete .button-undelete {
  display: block;
}



#connections .checkbox-disabled {
  cursor: default !important; /* overrides .checkbox */
}
#connections .checkbox-disabled .checkmark {
  background-color: transparent !important; /* overrides .checkmark */
}
#connections .checkbox-disabled .checkmark.hovered {
  background-color: transparent !important; /* overrides .checkmark.hovered */
}
#connections .checkbox-disabled .checkmark:after {
  border-color: black !important; /* overrides .checkmark:after */
}

