#connections {
  display: table;
}

#connections div.row {
  display: table-row;
  height: 40px;
}

#connections div.cell {
  display: table-cell;
  
  padding-top: 6px;
  padding-bottom: 6px;
}

#connections div.cell > * {
  position: absolute;
  
  width: inherit;
  min-width: inherit;
  
  box-sizing: border-box;
  
  padding-left: 12px;
  padding-right: 12px;
}


#connections div.cell.column-active {
  width: 0.0001%;
  min-width: 42px; /* empirical value */
}
#connections div.cell.column-name {
  width: 17%;
}
#connections div.cell.column-server {
  width: 25%;
}
#connections div.cell.column-db {
  width: 12%;
}
#connections div.cell.column-user {
  width: 12%;
}
#connections div.cell.column-password {
  width: 20%;
}
#connections div.cell.column-delete {
  width: 4%;
}

#connections .fieldWrapper > * {
  width: 100%;
}

#connections .field-text {
  background-color: transparent;
  outline: 0;
  
  border-width: 0 0 2px 0;
  border-color: #ddd;
  
  font-family: monospace;
  font-size: 120%;
  color: black; 
  
  padding-top: 6px;
  padding-bottom: 2px;
}

#connections .checkbox-active {
  border-width: 0 0 0 0;
  border-bottom: 2px solid;
  border-color: transparent;

  width: 24px;
  height: 24px;
  
  padding-top: 0;
  padding-bottom: 2px;
}

#connections input:focus {
  border-color: #0089bd;
}

/* elements that go opaque when inactive */
#connections .row.inactive input.inactivatible {
  color: #888;
}


#connections div.strike {
  display: none;
  
  border-bottom: 2px solid;
  height: 16px;
  
  padding-left: 0px !important;
  padding-right: 0px !important;
}


#connections .modified, #connections .row.created .field-text /* new fields always look modified */ {
  border-color: #fb8f40;
}
#connections .row.deleted .modified  {/* but do not show border for deleted modified */
  border-color: transparent;
}

#connections div.strike {
  border-color: #fb8f40;
}

#connections .row.deleted div.strike {
  display: block;
}

#connections .row.deleted .deletable {
  pointer-events: none;
  opacity: 0.3;
}


#connections .row .column-delete input {
  width: 28px;
  height: 28px;
}


#connections .row .column-delete .button-delete {
  display: block;
}
#connections .row .column-delete .button-undelete {
  display: none;
}
#connections .row.deleted .column-delete .button-delete {
  display: none;
}
#connections .row.deleted .column-delete .button-undelete {
  display: block;
}


#connections .button-create {
  width: 24px;
  height: 24px;
}


#connections .row.created .column-active .checkbox-active {
  pointer-events: none;
}
#connections .row.created .column-active .checkbox-active .checkmark {
  background-color: transparent;
}
#connections .row.created .column-active .checkbox-active .checkmark:after {
  border-color: black;
}