#connections {
  display: table;
}

div.row {
  display: table-row;
}

div.cell {
  display: table-cell;
  
  position: relative;
  height: 32px;
  
  padding-bottom: 12px;
}

.flexColumns div.cell > *, .strike {
  width: 100%;
}

div.cell > .deletable, div.cell > .strike {
  position: absolute;
  top: 0;
  left: 0;
}

.flexColumns {
  overflow: hidden;
} 

div.cell.column-active {
  width: 36px;
  float: left;
}
div.cell.column-delete {
  width: 36px;
  float: right;
}

.cell-pad-left {
  width: 6px;
  height: 6px;
  float: left;
}
.cell-pad-right {
  width: 6px;
  height: 6px;
  float: right;
}
.cell-pad-mid {
  overflow: hidden;
}

.cell-pad-mid > * {
  width: 100%;
}

div.cell.column-name {
  width: 15%;
  display: inline-block;
}
div.cell.column-server {
  width: 25%;
  display: inline-block;
}
div.cell.column-db {
  width: 20%;
  display: inline-block;
}
div.cell.column-user {
  width: 15%;
  display: inline-block;
}
div.cell.column-password {
  width: 25%;
  display: inline-block;
}


.field-text {
  background-color: transparent;
  outline: 0;
  
  border-width: 0 0 2px 0;
  border-color: #ddd;
  
  font-family: monospace;
  font-size: 120%;
  color: black; 
  
  padding-top: 6px;
  padding-bottom: 2px;
}

.checkbox-active {
  border-width: 0 0 0 0;
  border-bottom: 2px solid;
  border-color: transparent;

  width: 24px;
  height: 24px;
  
  padding-top: 0;
  padding-bottom: 2px;
}

input.field-text:focus {
  border-color: #0089bd;
}
.row.created input.field-text:focus {
  border-color: #0089bd;
}

/* elements that go opaque when inactive */
.row.inactive input.inactivatible {
  color: #888;
}


div.strike {
  display: none;
  
  border-bottom: 2px solid;
  height: 15px;
  
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.modified {
  border-color: #fb8f40;
}
/* do not show borders in deleted rows */
.row.deleted .modified  {
  border-color: #ddd;
}

div.strike {
  border-color: #fb8f40;
}

.row.deleted div.strike {
  display: block;
}

.row.deleted .deletable {
  pointer-events: none;
  opacity: 0.3;
}


.row .column-delete input {
  width: 24px;
  height: 24px;
}


.row .column-delete .button-delete {
  display: block;
}
.row .column-delete .button-undelete {
  display: none;
}
.row.deleted .column-delete .button-delete {
  display: none;
}
.row.deleted .column-delete .button-undelete {
  display: block;
}



.row.created .column-active .checkbox-active {
  pointer-events: none;
}
.row.created .column-active .checkbox-active .checkmark {
  background-color: transparent;
}
.row.created .column-active .checkbox-active .checkmark:after {
  border-color: black;
}

.big-black-button {
  width: 200px;
  height: 44px;
  
  background-color: black;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  
  margin-right: 6px;
  margin-left: 6px;
}

.big-black-button:disabled {
  
  background-color: #888;
  color: #ddd;
  cursor: default;
}