.big-black-button {
  width: 200px;
  height: 44px;
  
  background-color: black;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  
  margin: 10px;
}

.big-black-button:disabled {
  
  background-color: #888;
  color: #ddd;
  cursor: default;
}

/******* input text *******/

input.field-text {
  background-color: transparent;
  outline: 0;
  
  border-width: 0 0 2px 0;
  border-color: #ddd;
  
  font-family: monospace;
  font-size: 15.7px;
  color: black; 
  
  padding-top: 6px;
  padding-bottom: 2px;
}

input.field-text:focus {
  border-color: #0089bd;
}

/******* status bar *******/

.statusBar {
  text-align: center;
  padding: 15px;
  font-size: 15.7px;
}

.statusBar .span-bold {
  font-weight: bold;
}

.statusBar-none {
  display: none;
}

.statusBar-success {
  display: block;
  background-color: #CFFFC1;
}

.statusBar-error {
  display: block;
  background-color: #FFE6C1;
}

.statusBar-info {
  display: block;
  background-color: #F4F5CF;
}

