#login-form {
  margin-top: 60px;
}

#login-form .row {
  position: relative;
  text-align: center;
}

#login-form .row .column-left, #login-form .row .column-right {
  width: 400px;
  display: inline-block;
}

#login-form .row .column-center {
  width: 220px;
  display: inline-block;
}

#login-form .row .column-center .field-text {
  width: 200px;
}

#login-form .field-label {
  float: right;
}