#table div.cell.column-application {
  width: 30%;
}
#table div.cell.column-instance {
  width: 30%;
}

#table div.cell.column-instance .field-text {
  width: 70%;
}
#table div.cell.column-instance button {
  width: 30%;
  max-width: 80px;
  font-size: 11px;
}

#table .row.deleted button {
  display: none;
}