#table div.cell.column-application {
  width: 30%;
}
#table div.cell.column-host {
  width: 20%;
}
#table div.cell.column-ajp_port {
  width: 10%;
}
#table div.cell.column-http_port {
  width: 16%;
}

#table div.cell.column-http_port .field-text {
  width: 62%;
}
#table div.cell.column-http_port button {
  width: 38%;
  font-size: 11px;
}

#table div.cell.column-get_http_port button {
  font-size: 11px;
}
