#table div.cell.column-application {
  width: 30%;
}
#table div.cell.column-host {
  width: 20%;
}
#table div.cell.column-ajp_port {
  width: 10%;
}
#table div.cell.column-http_port {
  width: 10%;
}
#table div.cell.column-get_http_port {
  width: 10%;
}

#table div.cell.column-get_http_port button {
  height: 18px;
  font-size: 11px;
  width: 80px; /* button text changes, the width must be constant */
}

#table div.cell.column-get_http_port div.field-text {
  padding-bottom: 4px;
}
