#table div.cell.column-name {
  width: 20%;
}
#table div.cell.column-server {
  width: 30%;
}
#table div.cell.column-db {
  width: 15%;
}
#table div.cell.column-user {
  width: 15%;
}
#table div.cell.column-password {
  width: 20%;
}

#table div.cell.column-password {
  width: 20%;
}

#controlButtons .big-black-button {
  margin: 14px;
  margin-right: -4px; /* magic value */
}

/* left margin for the leftmost column */
#table div.cell.column-active {
  margin-left: 8px;
}
