body {
  margin: 0px;
}

.area_begin-reached {
  padding-top: 8px; 
}

.anchor-area {
  float: left;
  width: 15px;
}

.content-area {
  margin-left: 15px;

  font-family: monospace;
  word-break: break-all;
}

.content-area__lines {
  padding-left: 8px;
  padding-right: 8px;
}

.bottom {
  background-color: #E3FFC6;
}

.control-button_reset-anchor {
  position: fixed;
  bottom: 0px;
  right: 18px; /* = 14px + magic_4px */
}

.hidden {
  display: none;
}

.control-top {
  width: 100%;
  
  line-height: 2em;
  text-align: center;
}

button.control-top {
  border: medium none;
}

.control-top__active {
  background-color: #CFFFC1;
}

.control-top__active, .control-top__active * {
  cursor: pointer;
}

.control-top__inactive {
  background-color: #BFBFBF;
}

.control-top__file-begin-reached {
  margin-bottom: 8px;
}
