.table {
  width: 100%;
}

.table div.cell.column-name {
  width: 20%;
}
.table div.cell.column-server {
  width: 30%;
}
.table div.cell.column-db {
  width: 15%;
}
.table div.cell.column-user {
  width: 15%;
}
.table div.cell.column-password {
  width: 20%;
}

.table div.cell.column-test {
  width: 36px;
  float: right;
}

.table div.cell.column-test a img {
  display: block;
}

/* for modified or deleted rows */
.table .row.deleted .cell.column-test a, .table .row.modified .cell.column-test a {
  display: none;
}

