.table {
  width: 100%;
}

.table div.cell.column-name {
  width: 20%;
}
.table div.cell.column-server {
  width: 30%;
}
.table div.cell.column-db {
  width: 15%;
}
.table div.cell.column-user {
  width: 15%;
}
.table div.cell.column-password {
  width: 20%;
}

.table div.cell.column-test {
  width: 36px;
  float: right;
}

.table div.cell.column-test .img-button {
  display: block;
}

img.button-test_inactive {
  opacity: 0.3;
}


.table div.cell.column-test .button-test_active {
  display: block;
}
.table .row.deleted .cell.column-test .button-test_active,
.table .row.modified .cell.column-test .button-test_active,
.table .row.created .cell.column-test .button-test_active {
  display: none;
}

.table div.cell.column-test .button-test_inactive {
  display: none;
}
.table .row.deleted .cell.column-test .button-test_inactive,
.table .row.modified .cell.column-test .button-test_inactive,
.table .row.created .cell.column-test .button-test_inactive {
  display: block;
}
