#table div.cell.column-name {
  width: 40%;
}

#table div.cell.column-lastmod {
  width: 30%;
}

#table div.cell.column-download {
  width: 10%;
}

#table div.cell.column-open {
  width: 10%;
}

#table div.cell.column-monitor {
  width: 10%;
}

/* left margin for the leftmost column */
#table .column-left {
  margin-left: 44px;
}

