<web-app>

  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>org.jepria.httpd.apache.manager.web.AuthServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/login/*</url-pattern>
    <url-pattern>/logout/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JkGui</servlet-name>
    <servlet-class>org.jepria.httpd.apache.manager.web.jk.JkSsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JkGui</servlet-name>
    <url-pattern>/jk/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JkModjkGui</servlet-name>
    <servlet-class>org.jepria.httpd.apache.manager.web.jkmodjk.JkModjkSsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JkModjkGui</servlet-name>
    <url-pattern>/jk/mod_jk/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>JkWorkersGui</servlet-name>
    <servlet-class>org.jepria.httpd.apache.manager.web.jkworkers.JkWorkersSsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JkWorkersGui</servlet-name>
    <url-pattern>/jk/workers/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RestartGui</servlet-name>
    <servlet-class>org.jepria.httpd.apache.manager.web.restart.RestartSsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestartGui</servlet-name>
    <url-pattern>/restart/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ApiDocs</servlet-name>
    <jsp-file>/api-docs.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiDocs</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Public resources (SSR)</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected resources (API)</web-resource-name>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager-gui</role-name>
    </auth-constraint>
  </security-constraint>
  
</web-app>