body {
  margin: 0px;
}

.lines {
  padding-left: 8px;
  padding-right: 8px;
  
  font-family: monospace;
}

.lines_after-anchor {
  background-color: #E3FFC6;
  
  border-top: 1px solid;
  border-color: #B8D29F;
}

.line {
  width: 100%;
  dispplay: inline-block;
}