<web-app>

  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>

  <servlet>
    <servlet-name>ApiServlet</servlet-name>
    <servlet-class>org.jepria.jdbsee.web.ApiServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApiServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <security-role>
    <role-name>manager-gui</role-name>
  </security-role>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected resources</web-resource-name>
      <url-pattern>/2api/*</url-pattern>
      <url-pattern>/2index.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager-gui</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/WEB-INF/security/login.html</form-login-page>
      <form-error-page>/WEB-INF/security/login-error.html
      </form-error-page>
    </form-login-config>
  </login-config>

</web-app>