#table div.cell.column-application {
  width: 20%;
}
#table div.cell.column-worker {
  width: 15%;
}
#table div.cell.column-instance {
  width: 20%;
}

select.field-text {
  height: 28px;
}

#table .column-worker select.discarded {
  border-color: transparent;
  color: #ddd;
}