#login-form {
  padding: 40px 40px 20px 40px;
  background-color: white;
}

#login-form .row {
  position: relative;
  text-align: center;
}

#login-form .row .field-text {
  width: 200px;
  margin-top: 15px;
}

#login-form .big-black-button {
  margin-top: 40px;
}