/* Customize the label (the container) */
.checkbox {
  display: block;
  cursor: pointer;
  font-size: 22px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  border-width: 0 0 0 0;
  border-bottom: 2px solid;
  border-color: transparent;

  width: 24px;
  height: 24px;
  
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  
  width: 24px;
  height: 24px;
}

.checkmark {
  background-color: #aaa;
}

/* When the checkbox is checked */
.checkbox input:checked ~ .checkmark {
  background-color: black;
}
  
.checkmark.hovered {
  background-color: #0089bd !important; /* hovering color is more important than the checked color */
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 8px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid;
  border-width: 0 3px 3px 0;
  border-color: white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox.modified {
  border-color: #fb8f40;
}

/* comes after .checkbox.modified to override */
.checkbox.invalid {
  border-color: red;
}

.checkbox_disabled.modified {
  border-color: transparent !important;
}

.checkbox_disabled {
  cursor: default !important; /* overrides .checkbox */
}
.checkbox_disabled .checkmark {
  background-color: transparent !important; /* overrides .checkmark */
}
.checkbox_disabled .checkmark.hovered {
  background-color: transparent !important; /* overrides .checkmark.hovered */
}
.checkbox_disabled .checkmark:after {
  border-color: black !important; /* overrides .checkmark:after */
}
