body {
  margin: 0px;
}

.background_gray {
  background-color: #777;
}


.span-bold {
  font-weight: bold;
}



.big-black-button {
  height: 100%;
  
  background-color: black;
  border: none;
  
  font-family: serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  
  cursor: pointer;
}

.big-black-button:disabled {  
  background-color: #888;
  color: #ddd;
  cursor: default;
}

.big-black-button.hovered {
  background-color: #0089bd
}

/* for firefox: cancel .hovered highlight for :disabled */
.big-black-button:disabled.hovered {  
  background-color: #888;
}



.button-form {
  display: inline;
}