body {
  margin: 0px;
}

.big-black-button {
  background-color: black;
  border: none;
  
  font-family: serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  
  cursor: pointer;
}

.big-black-button:disabled {  
  background-color: #888;
  color: #ddd;
  cursor: default;
}

.big-black-button.hovered {
  background-color: #0089bd
}

/* for firefox: cancel .hovered highlight for :disabled */
.big-black-button:disabled.hovered {  
  background-color: #888;
}

.big-black-button.control-button {
  width: 200px;
  height: 44px;
  
  margin: 14px;
  margin-right: -4px; /* magic value */
}

/******* input text *******/

.field-text {
  background-color: transparent;
  outline: 0;
  
  border-width: 0 0 2px 0;
  border-color: #ddd;
  
  font-family: monospace;
  font-size: 13.5px;
  color: black; 
  
  line-height: 18px;
  padding-top: 6px;
  padding-bottom: 2px;
}

input.field-text:focus {
  border-color: #0089bd;
}
