.page-header {
  background-color: black;
  
  height: 45px;
  
  padding-left: 28px;
}

.page-header__menu-item {
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
  
  color: #777;
}

div.page-header__container {
  display: inline;
}

.page-header__menu-item_regular {
  padding-left: 28px;
}

a.page-header__menu-item {
  text-decoration: none;
}

.page-header__menu-item_current {
  color: white;
}

.page-header__menu-item_hoverable:hover {
  color: #0089bd;
}

.page-header > * {
  line-height: 45px;
}

.page-header__button-logout {
  float: right;
  
  padding-left: 28px;
  padding-right: 28px;
}

.hidden {
  display: none;
}