.page-header {
  background-color: black;
  height: 45px;
}

.page-header__menu-item {
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
  
  color: #777;
}

.page-header__menu-item_page-info {
  float: right;
  margin-right: 42px;

  color: #777; /* same with .page-header__menu-item */
  
  font-size: 16px;
  font-family: monospace;  
}

.page-header__container {
  display: inline;
}

.page-header__container_pos_right {
  float: right;
}
.page-header__container_pos_left {
  overflow: hidden;
}

.page-header__menu-item_regular {
  padding-left: 14px;
  padding-right: 14px;
}

.page-header__menu-item_left {
  padding-left: 28px;
}

a.page-header__menu-item {
  text-decoration: none;
  display: inline-block;
}

.page-header__menu-item_current {
  color: white;
}

.page-header__menu-item_hoverable:hover {
  color: #0089bd;
}

.page-header__line-element {
  line-height: 45px;
}

.page-header__button-logout {
  float: right;
  
  padding-left: 28px;
  padding-right: 28px;
}

/* overrides default browser's button */
button.page-header__button-logout {
  padding-top: 0;
  padding-bottom: 0;
}

.hidden {
  display: none;
}