.statusBar {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  
  line-height: 45px;
}

.statusBar_none {
  display: none;
}

.statusBar_success {
  display: block;
  background-color: #CFFFC1;
}

.statusBar_error {
  display: block;
  background-color: #ffb59b;
}

.statusBar_info {
  display: block;
  background-color: #F4F5CF;
}