#table {
  margin-top: 15px;
  display: table;
  width: 100%;
}

#table div.row {
  display: table-row;
}

#table div.cell {
  display: inline-block;
  
  position: relative;
  /* height: 32px; */ /* better not no set height: it may discard line-height */
  line-height: 32px; /* necessary, otherwise the two cells in a same row get not aligned properly */
  
  padding-top: 8px;
  padding-bottom: 4px;
}

#table .flexColumns div.cell > *, #table .strike {
  width: 100%;
}

#table div.cell > .table__field_disableable, #table div.cell > .strike {
  position: absolute;
  top: 0;
  left: 0;
}

#table .flexColumns {
  overflow: hidden;
} 

#table div.cell.column-active {
  width: 36px;
  float: left;
}
#table div.cell.column-delete {
  margin-right: 8px;
  width: 36px;
  float: right;
}

/* left margin for the leftmost column */
#table .column-left {
  margin-left: 8px;
}

#table .cell-pad-left {
  width: 6px;
  height: 6px;
  float: left;
}
#table .cell-pad-right {
  width: 6px;
  height: 6px;
  float: right;
}
#table .cell-pad-mid {
  overflow: hidden;
}

#table .cell-pad-mid > * {
  width: 100%;
}

#table .header label {
  background-color: transparent;
  
  font-family: serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  
  padding-left: 6px;
}

/* elements that go opaque when inactive */
#table .row.inactive .table__field-text_inactivatible {
  color: #888;
}

#table .row.even-odd-gray {
  background-color: #f2f2f2;
}


#table div.strike {
  display: none;
  
  border-bottom: 2px solid;
  height: 19px;
  
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#table div.strike {
  border-color: #fb8f40;
}

#table .row.deleted div.strike {
  display: block;
}

#table .row.deleted .table__field_disableable {
  pointer-events: none;
  opacity: 0.3;
}


#table .row .column-delete input {
  width: 24px;
  height: 24px;
}

#table .row .column-delete input.hidden {
  display: none;
}


.bottom-shadow {
  box-shadow: 0 -3px 5px rgb(57, 63, 72); /* fallback */
  box-shadow: 0 -3px 5px rgba(57, 63, 72, 0.3);  
}

#table .row .column-delete .button-delete_undelete {
  display: none;
}
#table .row.deleted .column-delete .button-delete_undelete {
  display: block;
}

#table .row .column-delete .button-delete_delete {
  display: block;
}

#table .row.deleted .column-delete .button-delete_delete {
  display: none;
}

#table-new-row-template-container {
  display: none;
}

.cell .checkbox {
  margin-bottom: 2px;
}